@tailwind base;
@tailwind components;
@tailwind utilities;

:root, .light, .light-theme {
    --gray-1: #fdfdfd;
    --gray-2: #f9f9f9;
    --gray-3: #f0f0f0;
    --gray-4: #e8e8e8;
    --gray-5: #e1e1e1;
    --gray-6: #d9d9d9;
    --gray-7: #cecece;
    --gray-8: #bbb;
    --gray-9: #000;
    --gray-10: #2e2e2e;
    --gray-11: #626262;
    --gray-12: #202020;
  
    --gray-a1: #00000002;
    --gray-a2: #00000006;
    --gray-a3: #0000000f;
    --gray-a4: #00000017;
    --gray-a5: #0000001e;
    --gray-a6: #00000026;
    --gray-a7: #00000031;
    --gray-a8: #00000044;
    --gray-a9: #000000;
    --gray-a10: #000000d1;
    --gray-a11: #0000009d;
    --gray-a12: #000000df;
  
    --gray-contrast: #fff;
    --gray-surface: #f8f8f8cc;
    --gray-indicator: #000;
    --gray-track: #000;
  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root, .light, .light-theme {
        --gray-1: oklch(99.4% 0 none);
        --gray-2: oklch(98.2% 0 none);
        --gray-3: oklch(95.6% 0 none);
        --gray-4: oklch(93.2% 0 none);
        --gray-5: oklch(91% 0 none);
        --gray-6: oklch(88.6% 0 none);
        --gray-7: oklch(85.3% 0 none);
        --gray-8: oklch(79.2% 0 none);
        --gray-9: oklch(0% 0 none);
        --gray-10: oklch(30% 0 none);
        --gray-11: oklch(49.8% 0 none);
        --gray-12: oklch(24.3% 0 none);
  
        --gray-a1: color(display-p3 0 0 0 / 0.0078);
        --gray-a2: color(display-p3 0 0 0 / 0.0235);
        --gray-a3: color(display-p3 0 0 0 / 0.0588);
        --gray-a4: color(display-p3 0 0 0 / 0.0902);
        --gray-a5: color(display-p3 0 0 0 / 0.1176);
        --gray-a6: color(display-p3 0 0 0 / 0.149);
        --gray-a7: color(display-p3 0 0 0 / 0.1922);
        --gray-a8: color(display-p3 0 0 0 / 0.2667);
        --gray-a9: color(display-p3 0 0 0);
        --gray-a10: color(display-p3 0 0 0 / 0.8196);
        --gray-a11: color(display-p3 0 0 0 / 0.6157);
        --gray-a12: color(display-p3 0 0 0 / 0.8745);
  
        --gray-contrast: #fff;
        --gray-surface: color(display-p3 0.9725 0.9725 0.9725 / 0.8);
        --gray-indicator: oklch(0% 0 none);
        --gray-track: oklch(0% 0 none);
      }
    }
  }

  .dark, .dark-theme {
    --gray-1: #000;
    --gray-2: #131313;
    --gray-3: #1f1f1f;
    --gray-4: #282828;
    --gray-5: #303030;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #616161;
    --gray-9: #fff;
    --gray-10: #f6f6f6;
    --gray-11: #b4b4b4;
    --gray-12: #eee;
  
    --gray-a1: #00000000;
    --gray-a2: #ffffff13;
    --gray-a3: #ffffff1f;
    --gray-a4: #ffffff28;
    --gray-a5: #ffffff30;
    --gray-a6: #ffffff3a;
    --gray-a7: #ffffff48;
    --gray-a8: #ffffff61;
    --gray-a9: #ffffff;
    --gray-a10: #fffffff6;
    --gray-a11: #ffffffb4;
    --gray-a12: #ffffffee;
  
    --gray-contrast: #311921;
    --gray-surface: #26262680;
    --gray-indicator: #fff;
    --gray-track: #fff;
  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark, .dark-theme {
        --gray-1: oklch(0% 0 none);
        --gray-2: oklch(18.5% 0 none);
        --gray-3: oklch(24% 0 none);
        --gray-4: oklch(27.7% 0 none);
        --gray-5: oklch(31% 0 none);
        --gray-6: oklch(34.8% 0 none);
        --gray-7: oklch(40% 0 none);
        --gray-8: oklch(49.1% 0 none);
        --gray-9: oklch(100% 0 none);
        --gray-10: oklch(97.3% 0 none);
        --gray-11: oklch(77% 0 none);
        --gray-12: oklch(94.9% 0 none);
  
        --gray-a1: color(display-p3 0 0 0 / 0);
        --gray-a2: color(display-p3 1 1 1 / 0.0745);
        --gray-a3: color(display-p3 1 1 1 / 0.1216);
        --gray-a4: color(display-p3 1 1 1 / 0.1569);
        --gray-a5: color(display-p3 1 1 1 / 0.1882);
        --gray-a6: color(display-p3 1 1 1 / 0.2275);
        --gray-a7: color(display-p3 1 1 1 / 0.2824);
        --gray-a8: color(display-p3 1 1 1 / 0.3804);
        --gray-a9: color(display-p3 1 1 1);
        --gray-a10: color(display-p3 1 1 1 / 0.9647);
        --gray-a11: color(display-p3 1 1 1 / 0.7059);
        --gray-a12: color(display-p3 1 1 1 / 0.9333);
  
        --gray-contrast: #311921;
        --gray-surface: color(display-p3 0.149 0.149 0.149 / 0.5);
        --gray-indicator: oklch(100% 0 none);
        --gray-track: oklch(100% 0 none);
      }
    }
  }